html
	head
		title= title
		style
			include css/triangles.css
			include css/bulma.css
	body
		section(class="section")
			div(class="container")
				h1(class="title is-1") InstagramAPI Testing - #{username}
				p(style="padding-bottom:5px;") #{bio}
				div(class="tile is-ancestor")
					div(class="tile is-vertical is-12")
						div(class="tile")
							div(class="tile is-parent is-vertical")
								article(class="tile is-child notification is-primary")
									p(class="title") Profile Picture
									img(src=profilePicture style="margin:auto;display:block;width:75%;height:auto;")
							div(class="tile is-parent")
								article(class="tile is-child notification is-primary")
									p(class="title") Most Recent Photos
									each val in mediaUrls
										img(src=val style="padding:5px;")
						div(class="tile is-parent")
							article(class="tile is-child notification is-primary")
								p(class="title") Tile
				block content
	script
		include js/browserify/sovereign-bundle.js
		include js/main.js
